--
-- PostgreSQL database dump
--

\restrict uEczJZosSKKt89UkAIGzUkfSf5WUh3CG88WELNvjhEJ6gk4GtZVs3qYbO8J3Jlm

-- Dumped from database version 17.7 (bdd1736)
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO neondb_owner;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO neondb_owner;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO neondb_owner;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO neondb_owner;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO neondb_owner;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO neondb_owner;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: customers_customer; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.customers_customer (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    contact_email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    location character varying(255) NOT NULL,
    points integer NOT NULL,
    date_added date NOT NULL,
    added_by_id integer,
    archived_by_id integer,
    date_archived timestamp with time zone,
    is_archived boolean NOT NULL
);


ALTER TABLE public.customers_customer OWNER TO neondb_owner;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.customers_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.customers_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: distributers_distributor; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.distributers_distributor (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    contact_email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    location character varying(255) NOT NULL,
    date_added date NOT NULL,
    added_by_id integer,
    points integer NOT NULL,
    archived_by_id integer,
    date_archived timestamp with time zone,
    is_archived boolean NOT NULL
);


ALTER TABLE public.distributers_distributor OWNER TO neondb_owner;

--
-- Name: distributers_distributor_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.distributers_distributor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.distributers_distributor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO neondb_owner;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO neondb_owner;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO neondb_owner;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO neondb_owner;

--
-- Name: items_catalogue_product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.items_catalogue_product (
    id bigint NOT NULL,
    item_code character varying(50) NOT NULL,
    item_name character varying(255) NOT NULL,
    description text NOT NULL,
    purpose text NOT NULL,
    specifications text NOT NULL,
    legend character varying(20) NOT NULL,
    category character varying(100) NOT NULL,
    points numeric(10,2) NOT NULL,
    price numeric(10,2) NOT NULL,
    pricing_type character varying(20) NOT NULL,
    stock integer NOT NULL,
    committed_stock integer NOT NULL,
    is_archived boolean NOT NULL,
    date_added timestamp with time zone NOT NULL,
    date_archived timestamp with time zone,
    added_by_id integer,
    archived_by_id integer,
    mktg_admin_id integer,
    has_stock boolean NOT NULL,
    max_order_qty integer,
    min_order_qty integer NOT NULL,
    CONSTRAINT items_catalogue_product_committed_stock_check CHECK ((committed_stock >= 0)),
    CONSTRAINT items_catalogue_product_max_order_qty_check CHECK ((max_order_qty >= 0)),
    CONSTRAINT items_catalogue_product_min_order_qty_check CHECK ((min_order_qty >= 0)),
    CONSTRAINT items_catalogue_product_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.items_catalogue_product OWNER TO neondb_owner;

--
-- Name: items_catalogue_product_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.items_catalogue_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.items_catalogue_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: otp_codes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.otp_codes (
    id bigint NOT NULL,
    code character varying(6) NOT NULL,
    email character varying(254) NOT NULL,
    is_valid boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    user_id integer NOT NULL
);


ALTER TABLE public.otp_codes OWNER TO neondb_owner;

--
-- Name: otp_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.otp_codes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_codes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: requests_redemptionrequest; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.requests_redemptionrequest (
    id integer NOT NULL,
    points_deducted_from character varying(20) NOT NULL,
    total_points integer NOT NULL,
    status character varying(20) NOT NULL,
    date_requested timestamp with time zone NOT NULL,
    date_reviewed timestamp with time zone,
    remarks text,
    rejection_reason text,
    requested_by_id integer NOT NULL,
    requested_for_id integer,
    reviewed_by_id integer,
    team_id bigint,
    cancelled_by_id integer,
    date_cancelled timestamp with time zone,
    date_processed timestamp with time zone,
    processed_by_id integer,
    processing_status character varying(20) NOT NULL,
    svc_date date,
    svc_driver character varying(20),
    svc_time time without time zone,
    withdrawal_reason text,
    requires_sales_approval boolean NOT NULL,
    sales_approval_date timestamp with time zone,
    sales_approval_status character varying(20) NOT NULL,
    sales_approved_by_id integer,
    sales_rejection_reason text,
    requested_for_customer_id integer,
    requested_for_type character varying(20) NOT NULL,
    driver_name character varying(100),
    plate_number character varying(20),
    CONSTRAINT requests_redemptionrequest_total_points_check CHECK ((total_points >= 0))
);


ALTER TABLE public.requests_redemptionrequest OWNER TO neondb_owner;

--
-- Name: requests_redemptionrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.requests_redemptionrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.requests_redemptionrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: requests_redemptionrequestitem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.requests_redemptionrequestitem (
    id integer NOT NULL,
    quantity integer NOT NULL,
    points_per_item integer,
    total_points integer NOT NULL,
    request_id integer NOT NULL,
    dynamic_quantity numeric(12,2),
    points_multiplier numeric(10,2),
    pricing_type character varying(20),
    item_processed_at timestamp with time zone,
    item_processed_by_id integer,
    product_id bigint NOT NULL,
    CONSTRAINT requests_redemptionrequestitem_points_per_item_check CHECK ((points_per_item >= 0)),
    CONSTRAINT requests_redemptionrequestitem_quantity_check CHECK ((quantity >= 0)),
    CONSTRAINT requests_redemptionrequestitem_total_points_check CHECK ((total_points >= 0))
);


ALTER TABLE public.requests_redemptionrequestitem OWNER TO neondb_owner;

--
-- Name: requests_redemptionrequestitem_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.requests_redemptionrequestitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.requests_redemptionrequestitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: teams_team; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.teams_team (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    approver_id integer,
    archived_by_id integer,
    date_archived timestamp with time zone,
    is_archived boolean NOT NULL
);


ALTER TABLE public.teams_team OWNER TO neondb_owner;

--
-- Name: teams_team_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.teams_team ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.teams_team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: teams_teammembership; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.teams_teammembership (
    id bigint NOT NULL,
    joined_at timestamp with time zone NOT NULL,
    team_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.teams_teammembership OWNER TO neondb_owner;

--
-- Name: teams_teammembership_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.teams_teammembership ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.teams_teammembership_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.user_profiles (
    id bigint NOT NULL,
    "position" character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    email character varying(254) NOT NULL,
    full_name character varying(255) NOT NULL,
    is_activated boolean NOT NULL,
    is_banned boolean NOT NULL,
    ban_date timestamp with time zone,
    ban_duration integer,
    ban_message text,
    ban_reason text,
    unban_date timestamp with time zone,
    points integer NOT NULL,
    uses_points boolean NOT NULL,
    archived_by_id integer,
    date_archived timestamp with time zone,
    is_archived boolean NOT NULL,
    profile_picture character varying(100)
);


ALTER TABLE public.user_profiles OWNER TO neondb_owner;

--
-- Name: user_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.user_profiles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_profiles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: customers_customer; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: distributers_distributor; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-12-12 13:26:10.514356+00	12	super-admin	1	[{"added": {}}]	4	11
2	2025-12-12 13:26:39.042083+00	5	Izza (Super Admin)	1	[{"added": {}}]	8	11
3	2025-12-13 23:21:12.463241+00	17	superadmin	1	[{"added": {}}]	4	9
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	users	catalogueitem
8	users	userprofile
9	items_catalogue	catalogueitem
10	items_catalogue	variant
11	distributers	distributor
12	requests	redemptionrequest
13	requests	redemptionrequestitem
14	otp	otp
15	teams	team
16	teams	teammembership
17	customers	customer
18	items_catalogue	product
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: items_catalogue_product; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: otp_codes; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.otp_codes (id, code, email, is_valid, created_at, expires_at, used_at, user_id) FROM stdin;
5	352971	jemaicamorente@gmail.com	f	2025-12-17 07:29:15.198791+00	2025-12-17 07:39:15.198628+00	2025-12-17 07:30:04.508262+00	28
6	666064	jemaicamorente@gmail.com	f	2025-12-17 08:22:29.494135+00	2025-12-17 08:32:29.493998+00	2025-12-17 08:22:49.936167+00	28
7	681919	jemaicamorente@gmail.com	f	2026-01-08 02:37:17.079959+00	2026-01-08 02:47:17.079754+00	2026-01-08 02:37:44.644226+00	28
\.


--
-- Data for Name: requests_redemptionrequest; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: requests_redemptionrequestitem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: teams_team; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: teams_teammembership; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.teams_teammembership (id, joined_at, team_id, user_id) FROM stdin;
5	2026-01-08 03:45:33.838102+00	6	34
8	2026-01-21 03:31:49.780275+00	8	40
\.


--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 72, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 45, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: customers_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.customers_customer_id_seq', 3330, true);


--
-- Name: distributers_distributor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.distributers_distributor_id_seq', 15, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 3, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 78, true);


--
-- Name: items_catalogue_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.items_catalogue_product_id_seq', 83, true);


--
-- Name: otp_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.otp_codes_id_seq', 7, true);


--
-- Name: requests_redemptionrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.requests_redemptionrequest_id_seq', 45, true);


--
-- Name: requests_redemptionrequestitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.requests_redemptionrequestitem_id_seq', 47, true);


--
-- Name: teams_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.teams_team_id_seq', 9, true);


--
-- Name: teams_teammembership_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.teams_teammembership_id_seq', 8, true);


--
-- Name: user_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.user_profiles_id_seq', 36, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: customers_customer customers_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_pkey PRIMARY KEY (id);


--
-- Name: distributers_distributor distributers_distributor_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.distributers_distributor
    ADD CONSTRAINT distributers_distributor_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: items_catalogue_product items_catalogue_product_item_code_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items_catalogue_product
    ADD CONSTRAINT items_catalogue_product_item_code_key UNIQUE (item_code);


--
-- Name: items_catalogue_product items_catalogue_product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items_catalogue_product
    ADD CONSTRAINT items_catalogue_product_pkey PRIMARY KEY (id);


--
-- Name: teams_teammembership one_team_per_user; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_teammembership
    ADD CONSTRAINT one_team_per_user UNIQUE (user_id);


--
-- Name: otp_codes otp_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_pkey PRIMARY KEY (id);


--
-- Name: requests_redemptionrequest requests_redemptionrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionrequest_pkey PRIMARY KEY (id);


--
-- Name: requests_redemptionrequestitem requests_redemptionrequestitem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequestitem
    ADD CONSTRAINT requests_redemptionrequestitem_pkey PRIMARY KEY (id);


--
-- Name: teams_team teams_team_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_team
    ADD CONSTRAINT teams_team_name_key UNIQUE (name);


--
-- Name: teams_team teams_team_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_team
    ADD CONSTRAINT teams_team_pkey PRIMARY KEY (id);


--
-- Name: teams_teammembership teams_teammembership_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_teammembership
    ADD CONSTRAINT teams_teammembership_pkey PRIMARY KEY (id);


--
-- Name: teams_teammembership teams_teammembership_team_id_user_id_a49979d8_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_teammembership
    ADD CONSTRAINT teams_teammembership_team_id_user_id_a49979d8_uniq UNIQUE (team_id, user_id);


--
-- Name: user_profiles user_profiles_email_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_email_key UNIQUE (email);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: customers_customer_added_by_id_436b5547; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX customers_customer_added_by_id_436b5547 ON public.customers_customer USING btree (added_by_id);


--
-- Name: customers_customer_archived_by_id_877ec9a7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX customers_customer_archived_by_id_877ec9a7 ON public.customers_customer USING btree (archived_by_id);


--
-- Name: distributers_distributor_added_by_id_27869e3e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX distributers_distributor_added_by_id_27869e3e ON public.distributers_distributor USING btree (added_by_id);


--
-- Name: distributers_distributor_archived_by_id_d160fed7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX distributers_distributor_archived_by_id_d160fed7 ON public.distributers_distributor USING btree (archived_by_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: items_catalogue_product_added_by_id_5d0ffd1e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX items_catalogue_product_added_by_id_5d0ffd1e ON public.items_catalogue_product USING btree (added_by_id);


--
-- Name: items_catalogue_product_archived_by_id_1067b862; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX items_catalogue_product_archived_by_id_1067b862 ON public.items_catalogue_product USING btree (archived_by_id);


--
-- Name: items_catalogue_product_item_code_176d1c72_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX items_catalogue_product_item_code_176d1c72_like ON public.items_catalogue_product USING btree (item_code varchar_pattern_ops);


--
-- Name: items_catalogue_product_mktg_admin_id_57f38760; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX items_catalogue_product_mktg_admin_id_57f38760 ON public.items_catalogue_product USING btree (mktg_admin_id);


--
-- Name: otp_codes_user_id_e5c6ddd5; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX otp_codes_user_id_e5c6ddd5 ON public.otp_codes USING btree (user_id);


--
-- Name: requests_redemptionrequest_cancelled_by_id_9fd89e9c; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_cancelled_by_id_9fd89e9c ON public.requests_redemptionrequest USING btree (cancelled_by_id);


--
-- Name: requests_redemptionrequest_processed_by_id_f1e2f4a0; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_processed_by_id_f1e2f4a0 ON public.requests_redemptionrequest USING btree (processed_by_id);


--
-- Name: requests_redemptionrequest_requested_by_id_7133fb79; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_requested_by_id_7133fb79 ON public.requests_redemptionrequest USING btree (requested_by_id);


--
-- Name: requests_redemptionrequest_requested_for_customer_id_4777b286; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_requested_for_customer_id_4777b286 ON public.requests_redemptionrequest USING btree (requested_for_customer_id);


--
-- Name: requests_redemptionrequest_requested_for_id_25d56bfe; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_requested_for_id_25d56bfe ON public.requests_redemptionrequest USING btree (requested_for_id);


--
-- Name: requests_redemptionrequest_reviewed_by_id_c7e348e1; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_reviewed_by_id_c7e348e1 ON public.requests_redemptionrequest USING btree (reviewed_by_id);


--
-- Name: requests_redemptionrequest_sales_approved_by_id_700fc902; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_sales_approved_by_id_700fc902 ON public.requests_redemptionrequest USING btree (sales_approved_by_id);


--
-- Name: requests_redemptionrequest_team_id_17da5403; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequest_team_id_17da5403 ON public.requests_redemptionrequest USING btree (team_id);


--
-- Name: requests_redemptionrequestitem_item_processed_by_id_09560aef; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequestitem_item_processed_by_id_09560aef ON public.requests_redemptionrequestitem USING btree (item_processed_by_id);


--
-- Name: requests_redemptionrequestitem_request_id_554324a0; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX requests_redemptionrequestitem_request_id_554324a0 ON public.requests_redemptionrequestitem USING btree (request_id);


--
-- Name: teams_team_approver_id_055022cf; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX teams_team_approver_id_055022cf ON public.teams_team USING btree (approver_id);


--
-- Name: teams_team_archived_by_id_59de43cc; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX teams_team_archived_by_id_59de43cc ON public.teams_team USING btree (archived_by_id);


--
-- Name: teams_team_name_c519f9ad_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX teams_team_name_c519f9ad_like ON public.teams_team USING btree (name varchar_pattern_ops);


--
-- Name: teams_teammembership_team_id_2ee7a456; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX teams_teammembership_team_id_2ee7a456 ON public.teams_teammembership USING btree (team_id);


--
-- Name: teams_teammembership_user_id_0cb613d1; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX teams_teammembership_user_id_0cb613d1 ON public.teams_teammembership USING btree (user_id);


--
-- Name: user_profiles_archived_by_id_cfdcde27; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_profiles_archived_by_id_cfdcde27 ON public.user_profiles USING btree (archived_by_id);


--
-- Name: user_profiles_email_4fd97605_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_profiles_email_4fd97605_like ON public.user_profiles USING btree (email varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: customers_customer customers_customer_added_by_id_436b5547_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_added_by_id_436b5547_fk_auth_user_id FOREIGN KEY (added_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: customers_customer customers_customer_archived_by_id_877ec9a7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.customers_customer
    ADD CONSTRAINT customers_customer_archived_by_id_877ec9a7_fk_auth_user_id FOREIGN KEY (archived_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: distributers_distributor distributers_distrib_archived_by_id_d160fed7_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.distributers_distributor
    ADD CONSTRAINT distributers_distrib_archived_by_id_d160fed7_fk_auth_user FOREIGN KEY (archived_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: distributers_distributor distributers_distributor_added_by_id_27869e3e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.distributers_distributor
    ADD CONSTRAINT distributers_distributor_added_by_id_27869e3e_fk_auth_user_id FOREIGN KEY (added_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: items_catalogue_product items_catalogue_product_added_by_id_5d0ffd1e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items_catalogue_product
    ADD CONSTRAINT items_catalogue_product_added_by_id_5d0ffd1e_fk_auth_user_id FOREIGN KEY (added_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: items_catalogue_product items_catalogue_product_archived_by_id_1067b862_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items_catalogue_product
    ADD CONSTRAINT items_catalogue_product_archived_by_id_1067b862_fk_auth_user_id FOREIGN KEY (archived_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: items_catalogue_product items_catalogue_product_mktg_admin_id_57f38760_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.items_catalogue_product
    ADD CONSTRAINT items_catalogue_product_mktg_admin_id_57f38760_fk_auth_user_id FOREIGN KEY (mktg_admin_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: otp_codes otp_codes_user_id_e5c6ddd5_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_user_id_e5c6ddd5_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_cancelled_by_id_9fd89e9c_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_cancelled_by_id_9fd89e9c_fk_auth_user FOREIGN KEY (cancelled_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequestitem requests_redemptionr_item_processed_by_id_09560aef_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequestitem
    ADD CONSTRAINT requests_redemptionr_item_processed_by_id_09560aef_fk_auth_user FOREIGN KEY (item_processed_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_processed_by_id_f1e2f4a0_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_processed_by_id_f1e2f4a0_fk_auth_user FOREIGN KEY (processed_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequestitem requests_redemptionr_request_id_554324a0_fk_requests_; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequestitem
    ADD CONSTRAINT requests_redemptionr_request_id_554324a0_fk_requests_ FOREIGN KEY (request_id) REFERENCES public.requests_redemptionrequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_requested_by_id_7133fb79_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_requested_by_id_7133fb79_fk_auth_user FOREIGN KEY (requested_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_requested_for_custom_4777b286_fk_customers; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_requested_for_custom_4777b286_fk_customers FOREIGN KEY (requested_for_customer_id) REFERENCES public.customers_customer(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_requested_for_id_25d56bfe_fk_distribut; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_requested_for_id_25d56bfe_fk_distribut FOREIGN KEY (requested_for_id) REFERENCES public.distributers_distributor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_reviewed_by_id_c7e348e1_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_reviewed_by_id_c7e348e1_fk_auth_user FOREIGN KEY (reviewed_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionr_sales_approved_by_id_700fc902_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionr_sales_approved_by_id_700fc902_fk_auth_user FOREIGN KEY (sales_approved_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequest requests_redemptionrequest_team_id_17da5403_fk_teams_team_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequest
    ADD CONSTRAINT requests_redemptionrequest_team_id_17da5403_fk_teams_team_id FOREIGN KEY (team_id) REFERENCES public.teams_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: requests_redemptionrequestitem requests_redemptionrequestitem_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests_redemptionrequestitem
    ADD CONSTRAINT requests_redemptionrequestitem_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.items_catalogue_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teams_team teams_team_approver_id_055022cf_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_team
    ADD CONSTRAINT teams_team_approver_id_055022cf_fk_auth_user_id FOREIGN KEY (approver_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teams_team teams_team_archived_by_id_59de43cc_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_team
    ADD CONSTRAINT teams_team_archived_by_id_59de43cc_fk_auth_user_id FOREIGN KEY (archived_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teams_teammembership teams_teammembership_team_id_2ee7a456_fk_teams_team_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_teammembership
    ADD CONSTRAINT teams_teammembership_team_id_2ee7a456_fk_teams_team_id FOREIGN KEY (team_id) REFERENCES public.teams_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: teams_teammembership teams_teammembership_user_id_0cb613d1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.teams_teammembership
    ADD CONSTRAINT teams_teammembership_user_id_0cb613d1_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profiles user_profiles_archived_by_id_cfdcde27_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_archived_by_id_cfdcde27_fk_auth_user_id FOREIGN KEY (archived_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_profiles user_profiles_user_id_8c5ab5fe_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_8c5ab5fe_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict uEczJZosSKKt89UkAIGzUkfSf5WUh3CG88WELNvjhEJ6gk4GtZVs3qYbO8J3Jlm

