<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Remove WebDAV to allow PUT/DELETE methods -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
    
    <!-- URL Rewrite for React Router and API Reverse Proxy -->
    <rewrite>
      <rules>
        <!-- Reverse Proxy: Forward /api/* to Django backend on localhost:8000 -->
        <rule name="Reverse Proxy to Django API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:8000/api/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="http" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        
        <!-- Reverse Proxy: Forward /admin/* to Django admin on localhost:8000 -->
        <rule name="Reverse Proxy to Django Admin" stopProcessing="true">
          <match url="^admin/(.*)" />
          <action type="Rewrite" url="http://localhost:8000/admin/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="http" />
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        
        <!-- Reverse Proxy: Forward /media/* to Django media files on localhost:8000 -->
        <rule name="Reverse Proxy to Django Media" stopProcessing="true">
          <match url="^media/(.*)" />
          <action type="Rewrite" url="http://localhost:8000/media/{R:1}" />
        </rule>
        
        <!-- React Router: Handle all other requests -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api|admin|media)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Static content MIME types -->
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Error handling -->
    <httpErrors errorMode="DetailedLocalOnly" />
  </system.webServer>
</configuration>
